*.fbx filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.uasset filter=lfs diff=lfs merge=lfs -text
/intermediate filter=lfs diff=lfs merge=lfs -text
/Saved filter=lfs diff=lfs merge=lfs -text
/WindowsNoEditor filter=lfs diff=lfs merge=lfs -text
WindowsNoEditor/Engine filter=lfs diff=lfs merge=lfs -text
WindowsNoEditor/Manifest_NonUFSFiles_Win64.txt filter=lfs diff=lfs merge=lfs -text
WindowsNoEditor/Practice filter=lfs diff=lfs merge=lfs -text
WindowsNoEditor/Practice.exe filter=lfs diff=lfs merge=lfs -text
Saved/Collections filter=lfs diff=lfs merge=lfs -text
Saved/MaterialStats filter=lfs diff=lfs merge=lfs -text
Saved/Shaders filter=lfs diff=lfs merge=lfs -text
Saved/StagedBuilds filter=lfs diff=lfs merge=lfs -text
Saved/Temp filter=lfs diff=lfs merge=lfs -text
Saved/AutoScreenshot.png filter=lfs diff=lfs merge=lfs -text
Saved/Cooked filter=lfs diff=lfs merge=lfs -text
Saved/Crashes filter=lfs diff=lfs merge=lfs -text
Saved/Logs filter=lfs diff=lfs merge=lfs -text
Saved/MaterialStatsDebug filter=lfs diff=lfs merge=lfs -text
Saved/Screenshots filter=lfs diff=lfs merge=lfs -text
Saved/Config filter=lfs diff=lfs merge=lfs -text
intermediate/CachedAssetRegistry.bin filter=lfs diff=lfs merge=lfs -text
intermediate/Config filter=lfs diff=lfs merge=lfs -text
intermediate/ProjectFiles filter=lfs diff=lfs merge=lfs -text
intermediate/ReimportCache filter=lfs diff=lfs merge=lfs -text
intermediate/Staging filter=lfs diff=lfs merge=lfs -text
intermediate/TargetInfo.json filter=lfs diff=lfs merge=lfs -text
intermediate/AssetRegistryCache filter=lfs diff=lfs merge=lfs -text
intermediate/Build filter=lfs diff=lfs merge=lfs -text
Binaries/Win64 filter=lfs diff=lfs merge=lfs -text
Content/Materials filter=lfs diff=lfs merge=lfs -text
Content/lambert1.uasset filter=lfs diff=lfs merge=lfs -text
Content/Developers filter=lfs diff=lfs merge=lfs -text
Content/StarterContent filter=lfs diff=lfs merge=lfs -text
Content/T_FloorBlock.uasset filter=lfs diff=lfs merge=lfs -text
Content/UMG filter=lfs diff=lfs merge=lfs -text
Content/Maps filter=lfs diff=lfs merge=lfs -text
Content/Animations filter=lfs diff=lfs merge=lfs -text
Content/Collections filter=lfs diff=lfs merge=lfs -text
Content/Models filter=lfs diff=lfs merge=lfs -text
Content/Textures filter=lfs diff=lfs merge=lfs -text
Content/AICaharacter filter=lfs diff=lfs merge=lfs -text
Content/BluePrints filter=lfs diff=lfs merge=lfs -text
Content/Audio filter=lfs diff=lfs merge=lfs -text
.zip filter=lfs diff=lfs merge=lfs -text
PlayGame.zip filter=lfs diff=lfs merge=lfs -text
